.video-js .tapsell-vjs-control-volume {
  position: absolute;
  bottom: var(--tapsell-vjs-spacer-y);
  left: calc(var(--tapsell-vjs-spacer-x) + var(--tapsell-vjs-button-width) + var(--tapsell-vjs-spacer-x));
  width: var(--tapsell-vjs-button-width);
  height: var(--tapsell-vjs-button-height);
  border-radius: var(--tapsell-vjs-border-radius);
  border: var(--tapsell-vjs-border-width) var(--tapsell-vjs-border-style) var(--tapsell-vjs-border-color);
  opacity: var(--tapsell-vjs-opacity);
  background-color: var(--tapsell-vjs-button-background-color);
  color: var(--tapsell-vjs-color);

  &:before {
    @extend %icon-default;
    font-size: var(--tapsell-vjs-font-size);
    line-height: 1;
    text-align: center;
    align-content: center;
  }

  &.tapsell-vjs-voluble:before {
    @extend .vjs-icon-volume-high;
  }

  &.tapsell-vjs-mute:before {
    @extend .vjs-icon-volume-mute;
  }

}
