.video-js {
  --tapsell-vjs-spacer-y: 8px;
  --tapsell-vjs-spacer-x: 8px;
  --tapsell-vjs-button-width: 32px;
  --tapsell-vjs-button-height: 32px;
  --tapsell-vjs-button-padding: 0;
  --tapsell-vjs-font-size: 20px;
  --tapsell-vjs-button-background-color: transparent;
  --tapsell-vjs-border-width: 2px;
  --tapsell-vjs-border-style: solid;
  --tapsell-vjs-border-color: #FFFFFF;
  --tapsell-vjs-color: #FFFFFF;
  --tapsell-vjs-border-radius: 99999px;
  --tapsell-vjs-opacity: 1;
}
